<!DOCTYPE html>

<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>User Panel | User Registration</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="User Account Page" name="description" />
    <meta content="" name="author" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/GlobalPlugins")
    @Styles.Render("~/Content/GlobalCss")
    <link href="~/Content/custom.css" rel="stylesheet" />
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/login.min.css" rel="stylesheet" type="text/css" />

    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="~/favicon.ico" />
</head>
<!-- END HEAD -->

<body class="login customloader">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="~/Content/Img/logo.jpg" alt="" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">


        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login-form form-horizontal", @id = "formLogin", role = "form" }))
        {
            if (TempData["SuccessMessage"] != null)
            {

                <h3 class="form-title text-center" style="margin-bottom: 5px;">
                    Check your email.
                </h3>
                <h6 class="text-center">(and your spam folder)</h6>
                <br>
                <div class="text-center">We sent you an email with instructions on how to reset your password. <br><br>If you did not get an email, you may have signed up with a different email address. <a href="@Url.Action("Login", "Account")">Try again</a>.</div>
                <br>
            }
            if (TempData["ErrorMessage"] != null)
            {
                <h3 class="form-title text-center" style="margin-bottom: 5px;">
                    Check your email.
                </h3>
                <h6 class="text-center">(and your spam folder)</h6>
                <br>
                <div class="text-center">Your reset password link has expired. We just sent you a new one. Please check your email.</div>
                <br>}
        }
        <!-- END REGISTRATION FORM -->
    </div>
    @Scripts.Render("~/Bundles/CorePlugins")
</body>

</html>
